# base16-foot
# Scheme name: {{system}} / {{name}}
# Scheme author: {{author}}
set $base00 #{{palette.base00}}
set $base01 #{{palette.base01}}
set $base02 #{{palette.base02}}
set $base03 #{{palette.base03}}
set $base04 #{{palette.base04}}
set $base05 #{{palette.base05}}
set $base06 #{{palette.base06}}
set $base07 #{{palette.base07}}
set $base08 #{{palette.base08}}
set $base09 #{{palette.base09}}
set $base0A #{{palette.base0A}}
set $base0B #{{palette.base0B}}
set $base0C #{{palette.base0C}}
set $base0D #{{palette.base0D}}
set $base0E #{{palette.base0E}}
set $base0F #{{palette.base0F}}
