SPACESHIP_PROMPT_SEPARATE_LINE=false
SPACESHIP_CHAR_SYMBOL='$ '
SPACESHIP_CHAR_SYMBOL_SECONDARY='↳ '
SPACESHIP_CHAR_COLOR_SUCCESS=#{{base0D}}
SPACESHIP_DIR_COLOR=#{{base0A}}
SPACESHIP_GIT_BRANCH_COLOR=#{{base09}}
SPACESHIP_GIT_STATUS_COLOR=#{{base0E}}

autoload -U promptinit; promptinit
prompt spaceship
