# Backup files
*~

# Generated textadept stuff
.textadept_session

# Generated emacs stuff
.config/emacs/elpa/
.config/emacs/url/
.config/emacs/recentf
ac-comphist.dat
.lsp-session-v1

# Generated theme stuff
themes/previews
.config/waybar/style.css
.config/zsh/configure-spaceship
.config/starship/starship.toml
.config/textadept/themes/base16-amy.lua
.config/foot/foot.ini

# Generated Python stuff
__pycache__

# Generated sway stuff
.config/sway/keys.txt

# Generated qtile stuff
.config/qtile/keys.txt

# Files with secrets
wombat11k.nix

# local relevance only
.gitconfig
