# Backup files
*~
*.BAK
*.ORIG
*.backup

# Generated textadept stuff
.textadept_session

# Generated theme stuff
themes/previews/

# Generated Python stuff
__pycache__

# Generated sway stuff
.config/sway/keys.txt

# Files with secrets
wombat11k.nix
private.rem
