-- Base16 theme for Textadept, based on Mitchell's dark theme.
-- Currently using {{system}} {{name}}

local view, colors, styles = view, view.colors, view.styles

-- Colors must be in BBGGRR order!
colors.base00 = 0x{{palette.base00}}
colors.base01 = 0x{{palette.base01}}
colors.base02 = 0x{{palette.base02}}
colors.base03 = 0x{{palette.base03}}
colors.base04 = 0x{{palette.base04}}
colors.base05 = 0x{{palette.base05}}
colors.base06 = 0x{{palette.base06}}
colors.base07 = 0x{{palette.base07}}
colors.base08 = 0x{{palette.base08}}
colors.base09 = 0x{{palette.base09}}
colors.base0A = 0x{{palette.base0A}}
colors.base0B = 0x{{palette.base0B}}
colors.base0C = 0x{{palette.base0C}}
colors.base0D = 0x{{palette.base0D}}
colors.base0E = 0x{{palette.base0E}}
colors.base0F = 0x{{palette.base0F}}

-- Default font.
if not font then font = WIN32 and 'Consolas' or OSX and 'Monaco' or 'Monospace' end
if not size then size = not OSX and 10 or 12 end

-- Predefined styles.
styles[view.STYLE_DEFAULT] = {
	font = font, size = size, fore = colors.base05, back = colors.base00
}
styles[view.STYLE_LINENUMBER] = {fore = colors.base03, back = colors.base01} -- line number margin
styles[view.STYLE_BRACELIGHT] = {fore = colors.base0E, bold = true} -- highlighted brace characters
styles[view.STYLE_BRACEBAD] = {fore = colors.base08} -- brace character with no match
-- styles[view.STYLE_CONTROLCHAR] = {} -- control character blocks


styles[view.STYLE_INDENTGUIDE] = {fore = colors.base02} -- indentation guides
styles[view.STYLE_CALLTIP] = {fore = colors.base05, back = colors.base02} -- call tip text
styles[view.STYLE_FOLDDISPLAYTEXT] = {fore = colors.base03, back = colors.base02} -- text displayed next to folded lines

-- Tag styles. These are language-specific.
styles[lexer.ANNOTATION] = {fore = colors.base0D}
styles[lexer.ATTRIBUTE] = {fore = colors.base09}
styles[lexer.BOLD] = {bold = true}
styles[lexer.CLASS] = {fore = colors.base0A}
styles[lexer.CODE] = {fore = colors.base03, eol_filled = true}
styles[lexer.COMMENT] = {fore = colors.base03}
 styles[lexer.CONSTANT] = {fore = colors.base09}
styles[lexer.CONSTANT_BUILTIN] = {fore = colors.base0E}
styles[lexer.EMBEDDED] = {fore = colors.base06, back = colors.base01}
styles[lexer.ERROR] = {fore = colors.base08}
-- styles[lexer.FUNCTION] = {}
styles[lexer.FUNCTION_BUILTIN] = {fore = colors.base0E}
-- styles[lexer.FUNCTION_METHOD] = {}
styles[lexer.HEADING] = {bold = true, fore = colors.base0D}
-- styles[lexer.IDENTIFIER] = {}
styles[lexer.ITALIC] = {italic = true}
styles[lexer.KEYWORD] = {fore = colors.base0E}
styles[lexer.LABEL] = {fore = colors.base0D}
styles[lexer.LINK] = {underline = true}
styles[lexer.LIST] = {fore = colors.base09}
styles[lexer.NUMBER] = {fore = colors.base09}
styles[lexer.OPERATOR] = {fore = colors.base05}
styles[lexer.PREPROCESSOR] = {fore = colors.base0D}
styles[lexer.REFERENCE] = {underline = true}
styles[lexer.REGEX] = {fore = colors.base0C}
styles[lexer.STRING] = {fore = colors.base0B}
styles[lexer.TAG] = {fore = colors.base0E}
styles[lexer.TYPE] = {fore = colors.base0A}
styles[lexer.UNDERLINE] = {underline = true}
-- styles[lexer.VARIABLE] = {}
styles[lexer.VARIABLE_BUILTIN] = {fore = colors.base0E}
-- styles[lexer.WHITESPACE] = {}

-- CSS.
styles.property = styles[lexer.ATTRIBUTE]
-- styles.pseudoclass = {}
-- styles.pseudoelement = {}

-- Diff.
styles.addition = {fore = colors.base0B}
styles.deletion = {fore = colors.base08}
styles.change = {fore = colors.base0E}

-- HTML.
styles.tag_unknown = styles.tag .. {italic = true}
styles.attribute_unknown = styles.attribute .. {italic = true}

-- Latex, TeX, and Texinfo.
styles.command = styles[lexer.KEYWORD]
styles.command_section = styles[lexer.HEADING]
styles.environment = styles[lexer.TYPE]
styles.environment_math = styles[lexer.NUMBER]

-- Makefile.
-- styles.target = {}

-- Markdown.
-- styles.hr = {}

-- Output.
styles.csi = {visible = false}
local csi_colors = {
	black = colors.base00, red = colors.base08, green = colors.base0B, yellow = colors.base07,
	blue = colors.base0E, magenta = colors.base0D, cyan = colors.base09, white = colors.base0A
}
for k, v in pairs(csi_colors) do styles['csi_' .. k] = {fore = v} end
for k, v in pairs(csi_colors) do styles['csi_' .. k .. '_bright'] = {fore = v, bold = true} end

-- Python.
styles.keyword_soft = {}

-- XML.
-- styles.cdata = {}

-- YAML.
styles.error_indent = {back = colors.base08}

-- Element colors.
-- view.element_color[view.ELEMENT_SELECTION_TEXT] = colors.base05
view.element_color[view.ELEMENT_SELECTION_BACK] = colors.base02
-- view.element_color[view.ELEMENT_SELECTION_ADDITIONAL_TEXT] = colors.base05
view.element_color[view.ELEMENT_SELECTION_ADDITIONAL_BACK] = colors.base02
-- view.element_color[view.ELEMENT_SELECTION_SECONDARY_TEXT] = colors.base05
view.element_color[view.ELEMENT_SELECTION_SECONDARY_BACK] = colors.base02
-- view.element_color[view.ELEMENT_SELECTION_INACTIVE_TEXT] = colors.base05
view.element_color[view.ELEMENT_SELECTION_INACTIVE_BACK] = colors.base02
view.element_color[view.ELEMENT_SELECTION_INACTIVE_ADDITIONAL_TEXT] = colors.base02
view.element_color[view.ELEMENT_SELECTION_INACTIVE_ADDITIONAL_BACK] = colors.base02
view.element_color[view.ELEMENT_CARET] = colors.base05
-- view.element_color[view.ELEMENT_CARET_ADDITIONAL] =
if view ~= ui.command_entry then
	view.element_color[view.ELEMENT_CARET_LINE_BACK] = colors.base02 | 0x80000000
end
view.caret_line_layer = view.LAYER_UNDER_TEXT

-- Fold Margin.
view:set_fold_margin_color(true, colors.base01) -- default
view:set_fold_margin_hi_color(true, colors.base01) -- highlight

-- Markers.
--   view.marker_fore  Map of marker numbers to their foreground colors
--   view.marker_back  Map of marker numbers to their background colors
-- view.marker_fore[textadept.bookmarks.MARK_BOOKMARK] = colors.base00
view.marker_back[textadept.bookmarks.MARK_BOOKMARK] = colors.base0E
-- view.marker_fore[textadept.run.MARK_WARNING] = colors.base00
view.marker_back[textadept.run.MARK_WARNING] = colors.base07
-- view.marker_fore[textadept.run.MARK_ERROR] = colors.base00
view.marker_back[textadept.run.MARK_ERROR] = colors.base08
view.marker_fore[view.MARKNUM_HISTORY_MODIFIED] = colors.base07
view.marker_back[view.MARKNUM_HISTORY_MODIFIED] = colors.base07
view.marker_fore[view.MARKNUM_HISTORY_SAVED] = colors.base0B
view.marker_back[view.MARKNUM_HISTORY_SAVED] = colors.base0B
view.marker_fore[view.MARKNUM_HISTORY_REVERTED_TO_MODIFIED] = colors.base07
view.marker_back[view.MARKNUM_HISTORY_REVERTED_TO_MODIFIED] = colors.base07
view.marker_fore[view.MARKNUM_HISTORY_REVERTED_TO_ORIGIN] = colors.base07
view.marker_back[view.MARKNUM_HISTORY_REVERTED_TO_ORIGIN] = colors.base07
for i = view.MARKNUM_FOLDEREND, view.MARKNUM_FOLDEROPEN do -- fold margin
	view.marker_fore[i] = colors.base00
	view.marker_back[i] = colors.base03
	view.marker_back_selected[i] = colors.base05
end

-- Indicators.
--   view.indic_fore   Map of indicator numbers to their foreground colors
--   view.indic_alpha  Map of indicator numbers to their fill color alpha values
view.indic_fore[ui.find.INDIC_FIND] = colors.base07
view.indic_alpha[ui.find.INDIC_FIND] = 0x80
view.indic_fore[textadept.editing.INDIC_HIGHLIGHT] = colors.base01
view.indic_alpha[textadept.editing.INDIC_HIGHLIGHT] = 0x80
view.indic_fore[textadept.snippets.INDIC_PLACEHOLDER] = colors.base05
view.indic_fore[textadept.run.INDIC_WARNING] = colors.base07
view.indic_fore[textadept.run.INDIC_ERROR] = colors.base08
view.indic_fore[view.INDICATOR_HISTORY_MODIFIED_INSERTION] = colors.base0B
view.indic_fore[view.INDICATOR_HISTORY_MODIFIED_DELETION] = colors.base08
view.indic_fore[view.INDICATOR_HISTORY_SAVED_INSERTION] = colors.base0B
view.indic_fore[view.INDICATOR_HISTORY_SAVED_DELETION] = colors.base08
view.indic_fore[view.INDICATOR_HISTORY_REVERTED_TO_MODIFIED_INSERTION] = colors.base0B
view.indic_fore[view.INDICATOR_HISTORY_REVERTED_TO_MODIFIED_DELETION] = colors.base08
view.indic_fore[view.INDICATOR_HISTORY_REVERTED_TO_ORIGIN_INSERTION] = colors.base0B
view.indic_fore[view.INDICATOR_HISTORY_REVERTED_TO_ORIGIN_DELETION] = colors.base08

-- Call tips.
view.call_tip_fore_hlt = colors.base0E -- call tip’s highlighted text foreground color

-- Long Lines.
view.edge_color = colors.base02

-- Find & replace pane entries.
ui.find.entry_font = font .. ' ' .. size
