[colors]
background={{palette.base00}}ff
text={{palette.base04}}ff
prompt={{palette.base04}}ff
placeholder={{palette.base03}}ff
input={{palette.base05}}ff
match={{palette.base0E}}ff
selection={{palette.base02}}ff
selection-text={{palette.base05}}ff
selection-match={{palette.base0D}}ff
counter={{palette.base04}}ff
border={{palette.base01}}ff
