[colors]
# background colour for entire app
background={{color.client.default.background}}ff

# colour of all menu option text
text={{color.text.default.foreground}}ff

# colour of the prompt
prompt={{color.text.prompt.foreground}}ff

# colour of any placeholder text (e.g. "type here")
placeholder={{color.client.default.foreground}}ff

# colour of the text the user is typing
input={{color.text.typing.foreground}}ff

# colour of matching text in non-selected options
match={{color.text.matching.foreground}}ff

# background of the currently selected option
selection={{color.menu.option.selected.background}}ff

# text colour for the currently selected option
selection-text={{color.menu.option.selected.foreground}}ff

# colour of matching text in the selected option
selection-match={{color.menu.option.matching.foreground}}ff

# text colour for the counter
counter={{color.client.default.foreground}}ff

# app border colour
border={{color.client.default.border}}ff
