#!/usr/bin/env sh
export base00="{{base00}}"
export base01="{{base01}}"
export base02="{{base02}}"
export base03="{{base03}}"
export base04="{{base04}}"
export base05="{{base05}}"
export base06="{{base06}}"
export base07="{{base07}}"
export base08="{{base08}}"
export base09="{{base09}}"
export base0A="{{base0A}}"
export base0B="{{base0B}}"
export base0C="{{base0C}}"
export base0D="{{base0D}}"
export base0E="{{base0E}}"
export base0F="{{base0F}}"
