;; base16-current-theme.el -- A base16 colorscheme

;;; Commentary:
;; Base16: (https://github.com/chriskempson/base16)

;;; Authors:
;; Scheme: Amy de Buitléir (http://amydebuitleir.eu)
;; Template: Kaleb Elwert <belak@coded.io>

;;; Code:

(require 'base16-theme)

(defvar base16-current-colors
  '(:base00 "{{base00}}"
    :base01 "{{base01}}"
    :base02 "{{base02}}"
    :base03 "{{base03}}"
    :base04 "{{base04}}"
    :base05 "{{base05}}"
    :base06 "{{base06}}"
    :base07 "{{base07}}"
    :base08 "{{base08}}"
    :base09 "{{base09}}"
    :base0A "{{base0A}}"
    :base0B "{{base0B}}"
    :base0C "{{base0C}}"
    :base0D "{{base0D}}"
    :base0E "{{base0E}}"
    :base0F "{{base0F}}")
  "All colors for my custom theme are defined here.")

;; Define the theme
(deftheme base16-current)

;; Add all the faces to the theme
(base16-theme-define 'base16-current base16-current-colors)

;; Mark the theme as provided
(provide-theme 'base16-current)

(provide 'base16-current-theme)

;;; base16-current-theme.el ends here
