{ config, pkgs, options, ... }:

{
  networking.hostName = "wombat9000"; # Define your hostname.

  imports =
    [ # Include the results of the hardware scan.
      /etc/nixos/hardware-configuration.nix
      /home/amy/dotWombat/nixos/wombat9000.nix
      /home/amy/dotWombat/nixos/python2.nix
      /home/amy/dotWombat/nixos/python3.nix
      /home/amy/dotWombat/nixos/R.nix
      /home/amy/dotWombat/nixos/base.nix
    ];

}
