{ config, pkgs, options, ... }:

{
  networking.hostName = "eamybut-nixos"; # Define your hostname.

  imports =
    [ # Include the results of the hardware scan.
      /etc/nixos/hardware-configuration.nix
      /home/amy/dotWombat/nixos/R.nix
      /home/amy/dotWombat/nixos/base.nix
      /home/amy/dotWombat/nixos/wombat9000.nix
    ];

}
