(ac-config-default)
(global-auto-complete-mode t)
(set-face-foreground 'ac-candidate-face "#{{base04}}")
(set-face-background 'ac-candidate-face "#{{base02}}")
(set-face-foreground 'ac-selection-face "#{{base03}}")
(set-face-background 'ac-selection-face "#{{base09}}")
