<h1>Theme:
{{name}}</h1>
{{#bug}}
{{/bug}}

<table>

{{#colours}}
<tr>
  <td>{{name}}</td>
  <td style="background-color:{{colour}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{colour}}</td>
  <td>{{comment}}</td>
</tr>
{{/colours}}

</table>