<html>
<head>
<style>
/*
  workspaces
*/
.workspace, .workspace_focus, .workspace_urgent, .workspace_inactive {
  position: relative;
  width: 300px;
  color: #{{color.workspace.default.foreground}};
  background-color: #{{color.workspace.default.background}};
  border-width: 5px;
  border-style: solid;
  border-color: #{{color.workspace.default.border}};
  display: inline-block;
  text-align: center;
}

.workspace_focus {
  border-color: #{{color.workspace.focused.border}};
}

.workspace_inactive {
  border-color: #{{color.workspace.inactive.border}};
}

.workspace_urgent {
  border-color: #{{color.workspace.urgent.border}};
}

/*
  client
*/
.client, .client_focus, .client_urgent, .client_inactive {
  position: relative;
  width: 75px;
  height: 90px;
  border-width: 5px;
  border-style: solid;
  border-color: #{{color.client.default.border}};
  background-image: linear-gradient(
      45deg,
      gray,
      white,
      gray
    );
  display: inline-block;
  margin: 5px;
}

.client_focus {
  border-color: #{{color.client.focused.border}};
}

.client_inactive {
  border-color: #{{color.client.inactive.border}};
}

.client_urgent {
  border-color: #{{color.client.urgent.border}};
}

.label {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

</style>
</head>

<body>
<h2>{{system}} {{name}}</h2>

<div>
Palette:
<span style="color:{{palette.base00}}">█</span>
<span style="color:{{palette.base01}}">█</span>
<span style="color:{{palette.base02}}">█</span>
<span style="color:{{palette.base03}}">█</span>
<span style="color:{{palette.base04}}">█</span>
<span style="color:{{palette.base05}}">█</span>
<span style="color:{{palette.base06}}">█</span>
<span style="color:{{palette.base07}}">█</span>
<span style="color:{{palette.base08}}">█</span>
<span style="color:{{palette.base09}}">█</span>
<span style="color:{{palette.base0A}}">█</span>
<span style="color:{{palette.base0B}}">█</span>
<span style="color:{{palette.base0C}}">█</span>
<span style="color:{{palette.base0D}}">█</span>
<span style="color:{{palette.base0E}}">█</span>
<span style="color:{{palette.base0F}}">█</span>
<span style="color:{{palette.base10}}">█</span>
<span style="color:{{palette.base11}}">█</span>
<span style="color:{{palette.base12}}">█</span>
<span style="color:{{palette.base13}}">█</span>
<span style="color:{{palette.base14}}">█</span>
<span style="color:{{palette.base15}}">█</span>
<span style="color:{{palette.base16}}">█</span>
<span style="color:{{palette.base17}}">█</span>
</div>

<br />

<div>
Your color preferences:
{{# preference}}
<span style="color:{{.}}">█</span>
{{/ preference}}
</div>

<br />

<table>
  <tr>
    <th>name</th>
    <th>colour</th>
    <th>RGB</th>
    <!-- <th>general use</th> -->
    <th>terminal</th>
  </tr>
  <tr>
    <td>base00</td>
    <td style="background-color:{{palette.base00}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base00}}</td>
    <!-- <td>Default Background</td> -->
    <td>background</td>
  </tr>
  <tr>
    <td>base01</td>
    <td style="background-color:{{palette.base01}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base01}}</td>
    <!-- <td>Lighter Background (Used for status bars, line number and folding marks)</td> -->
    <td></td>
  </tr>
  <tr>
    <td>base02</td>
    <td style="background-color:{{palette.base02}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base02}}</td>
    <!-- <td>Selection Background</td> -->
    <td>bright black</td>
  </tr>
  <tr>
    <td>base03</td>
    <td style="background-color:{{palette.base03}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base03}}</td>
    <!-- <td>Comments, Invisibles, Line Highlighting</td> -->
    <td></td>
  </tr>
  <tr>
    <td>base04</td>
    <td style="background-color:{{palette.base04}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base04}}</td>
    <!-- <td>Dark Foreground (Used for status bars)</td> -->
    <td></td>
  </tr>
  <tr>
    <td>base05</td>
    <td style="background-color:{{palette.base05}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base05}}</td>
    <!-- <td>Default Foreground, Caret, Delimiters, Operators</td> -->
    <td></td>
  </tr>
  <tr>
    <td>base06</td>
    <td style="background-color:{{palette.base06}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base06}}</td>
    <!-- <td>Light Foreground (Not often used)</td> -->
    <td>white</td>
  </tr>
  <tr>
    <td>base07</td>
    <td style="background-color:{{palette.base07}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base07}}</td>
    <!-- <td>Light Background (Not often used)</td> -->
    <td>bright white</td>
  </tr>
  <tr>
    <td>base08</td>
    <td style="background-color:{{palette.base08}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base08}}</td>
    <!-- <td>Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted</td> -->
    <td>red</td>
  </tr>
  <tr>
    <td>base09</td>
    <td style="background-color:{{palette.base09}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base09}}</td>
    <!-- <td>Integers, Boolean, Constants, XML Attributes, Markup Link Url</td> -->
    <td></td>
  </tr>
  <tr>
    <td>base0A</td>
    <td style="background-color:{{palette.base0A}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0A}}</td>
    <!-- <td>Classes, Markup Bold, Search Text Background</td> -->
    <td>yellow</td>
  </tr>
  <tr>
    <td>base0B</td>
    <td style="background-color:{{palette.base0B}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0B}}</td>
    <!-- <td>Strings, Inherited Class, Markup Code, Diff Inserted</td> -->
    <td>green</td>
  </tr>
  <tr>
    <td>base0C</td>
    <td style="background-color:{{palette.base0C}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0C}}</td>
    <!-- <td>Support, Regular Expressions, Escape Characters, Markup Quotes</td> -->
    <td>cyan</td>
  </tr>
  <tr>
    <td>base0D</td>
    <td style="background-color:{{palette.base0D}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0D}}</td>
    <!-- <td>Functions, Methods, Attribute IDs, Headings</td> -->
    <td>blue</td>
  </tr>
  <tr>
    <td>base0E</td>
    <td style="background-color:{{palette.base0E}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0E}}</td>
    <!-- <td>Keywords, Storage, Selector, Markup Italic, Diff Changed</td> -->
    <td>magenta</td>
  </tr>
  <tr>
    <td>base0F</td>
    <td style="background-color:{{palette.base0F}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{palette.base0F}}</td>
    <!-- <td>Not used?</td> -->
    <td></td>
  </tr>
</table>

<br />

Compositors/display managers:
<br />
<div class="workspace">
  workspace
  <br />
  <div class="client"><div class="label">client</div></div>
  <div class="client_focus"><div class="label">focused client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_inactive"><div class="label">inactive client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_urgent"><div class="label">urgent client</div></div>
</div>

<div class="workspace_focus">
  focused workspace
  <br />
  <div class="client"><div class="label">client</div></div>
  <div class="client_focus"><div class="label">focused client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_inactive"><div class="label">inactive client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_urgent"><div class="label">urgent client</div></div>
</div>

<div class="workspace_inactive">
  inactive workspace
  <br />
  <div class="client"><div class="label">client</div></div>
  <div class="client_focus"><div class="label">focused client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_inactive"><div class="label">inactive client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_urgent"><div class="label">urgent client</div></div>
</div>

<div class="workspace_urgent">
  urgent workspace
  <br />
  <div class="client"><div class="label">client</div></div>
  <div class="client_focus"><div class="label">focused client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_inactive"><div class="label">inactive client</div></div>
  <div class="client"><div class="label">client</div></div>
  <div class="client_urgent"><div class="label">urgent client</div></div>
</div>

</body>
</html>
