<table>

<tr>
  <th>name</th>
  <th>colour</th>
  <th>RGB</th>
  <th>Textadept</th>
  <th>Emacs</th>
  <th>Terminal</th>
  <th>general use</th>
</tr>
<tr>
  <td>base00</td>
  <td style="background-color:{{palette.base00}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base00}}</td>
  <td>background</td>
  <td>background</td>
  <td>background, selected text (CHANGE?)</td>
  <td>Default Background</td>
</tr>
<tr>
  <td>base01</td>
  <td style="background-color:{{palette.base01}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base01}}</td>
  <td>current line</td>
  <td>Emacs border, current line</td>
  <td>Not used?</td>
  <td>Lighter Background (Used for status bars, line number and folding marks)</td>
</tr>
<tr>
  <td>base02</td>
  <td style="background-color:{{palette.base02}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base02}}</td>
  <td>selection background</td>
  <td>selection background, status bar</td>
  <td>Not used? Should be selection background?</td>
  <td>Selection Background</td>
</tr>
<tr>
  <td>base03</td>
  <td style="background-color:{{palette.base03}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base03}}</td>
  <td>Not used?<b>should be comments</b></td>
  <td>Not used?</td>
  <td>Not used?</td>
  <td>Comments, Invisibles, Line Highlighting</td>
</tr>
<tr>
  <td>base04</td>
  <td style="background-color:{{palette.base04}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base04}}</td>
  <td>comments <b>but shouldn't be</b></td>
  <td>text in status bar, Haskell comments</td>
  <td>Not used?</td>
  <td>Dark Foreground (Used for status bars)</td>
</tr>
<tr>
  <td>base05</td>
  <td style="background-color:{{palette.base05}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base05}}</td>
  <td>ordinary text</td>
  <td>Haskell variables</td>
  <td>ordinary text, ordinary files in ls</td>
  <td>Default Foreground, Caret, Delimiters, Operators</td>
</tr>
<tr>
  <td>base06</td>
  <td style="background-color:{{palette.base06}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base06}}</td>
  <td>keywords <b>but that's wrong</b>'</td>
  <td>Not used?</td>
  <td>Not used?</td>
  <td>Light Foreground (Not often used)</td>
</tr>
<tr>
  <td>base07</td>
  <td style="background-color:{{palette.base07}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base07}}</td>
  <td>???</td>
  <td>Not used?</td>
  <td>Not used?</td>
  <td>Light Background (Not often used)</td>
</tr>
<tr>
  <td>base08</td>
  <td style="background-color:{{palette.base08}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base08}}</td>
  <td>line numbers, comments. module names <b>but should be variables</b></td>
  <td>Haskell operators</td>
  <td>Not used?</td>
  <td>Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted</td>
</tr>
<tr>
  <td>base09</td>
  <td style="background-color:{{palette.base09}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base09}}</td>
  <td>integers</td>
  <td>Not used?</td>
  <td>git icon and branch in spaceship prompt</td>
  <td>Integers, Boolean, Constants, XML Attributes, Markup Link Url</td>
</tr>
<tr>
  <td>base0A</td>
  <td style="background-color:{{palette.base0A}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0A}}</td>
  <td>line number background</td>
  <td>Haskell module names (and qualifiers), Haskell types</td>
  <td>directory name in spaceship prompt, links in ls</td>
  <td>Classes, Markup Bold, Search Text Background</td>
</tr>
<tr>
  <td>base0B</td>
  <td style="background-color:{{palette.base0B}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0B}}</td>
  <td>???</td>
  <td>filename in status bar, Haskell strings</td>
  <td>directory names in ls</td>
  <td>Strings, Inherited Class, Markup Code, Diff Inserted</td>
</tr>
<tr>
  <td>base0C</td>
  <td style="background-color:{{palette.base0C}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0C}}</td>
  <td>???</td>
  <td>Not used?</td>
  <td>fifo/pipe in ls</td>
  <td>Support, Regular Expressions, Escape Characters, Markup Quotes</td>
</tr>
<tr>
  <td>base0D</td>
  <td style="background-color:{{palette.base0D}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0D}}</td>
  <td>strings <b>but that's wrong</b></td>
  <td>Haskell functions, Haskell pragmas</td>
  <td>prompt character ($, #), executable files in ls</td>
  <td>Functions, Methods, Attribute IDs, Headings</td>
</tr>
<tr>
  <td>base0E</td>
  <td style="background-color:{{palette.base0E}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0E}}</td>
  <td>Not used?</td>
  <td>Haskell keywords</td>
  <td>git status indicators in spaceship prompt</td>
  <td>Keywords, Storage, Selector, Markup Italic, Diff Changed</td>
</tr>
<tr>
  <td>base0F</td>
  <td style="background-color:{{palette.base0F}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{palette.base0F}}</td>
  <td>Not used?</td>
  <td>Not used?</td>
  <td>Not used?</td>
  <td>Deprecated, Opening/Closing Embedded Language Tags, e.g. &lt;?php ?&gt;</td>
</tr>

</table>

<br />
In rough order of prominence in Haskell code:

<table>
<tr>
<td style="background-color:{{palette.base0D}}">&nbsp;base0D&nbsp;</td>
<td style="background-color:{{palette.base0A}}">&nbsp;base0A&nbsp;</td>
<td style="background-color:{{palette.base0B}}">&nbsp;base0B&nbsp;</td>
<td style="background-color:{{palette.base0E}}">&nbsp;base0E&nbsp;</td>
<td style="background-color:{{palette.base08}}">&nbsp;base08&nbsp;</td>
<td style="background-color:{{palette.base0C}}">&nbsp;base0C&nbsp;</td>
<td style="background-color:{{palette.base0F}}">&nbsp;base0F&nbsp;</td>
<td style="background-color:{{palette.base09}}">&nbsp;base09&nbsp;</td>
</tr>
</table>


<br />
In rough order of prominence in terminal:

<table>
<tr>
<td style="background-color:{{palette.base0A}}">&nbsp;base0A&nbsp;</td>
<td style="background-color:{{palette.base0D}}">&nbsp;base0D&nbsp;</td>
<td style="background-color:{{palette.base0B}}">&nbsp;base0B&nbsp;</td>
<td style="background-color:{{palette.base0E}}">&nbsp;base0E&nbsp;</td>
<td style="background-color:{{palette.base08}}">&nbsp;base08&nbsp;</td>
<td style="background-color:{{palette.base0C}}">&nbsp;base0C&nbsp;</td>
<td style="background-color:{{palette.base0F}}">&nbsp;base0F&nbsp;</td>
<td style="background-color:{{palette.base09}}">&nbsp;base09&nbsp;</td>
</tr>
</table>
