format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

[directory]
style = "#{{hue.yellow}}"

[character]
success_symbol = "[❯](#{{hue.green}})"
error_symbol = "[❯](#{{hue.red}})"
vicmd_symbol = "[❮](#{{hue.green}})"

[git_branch]
format = "[$branch](#{{hue.cyan}})"
style = "{{color.text.default.foreground}}"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](#{{hue.cyan}}) ($ahead_behind$stashed)]({{hue.cyan}})"
style = "{{hue.cyan}}"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "{{color.text.default.foreground}}"

[cmd_duration]
format = "[$duration]($style) "
style = "#{{color.text.default.foreground}}"

[python]
format = "[$virtualenv]($style) "
style = "{{color.text.default.foreground}}"
